<!-- pager -->
<ul class="pagination justify-content-end">
  <li>
    <span class="total-record-label">
      {{pager.startIndex+1}} - {{pager.endIndex+1}} of {{pager.totalItems}}
    </span>
  </li>
</ul>

<ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
  <li [ngClass]="{disabled:pager.currentPage === 1}" title="First Page">
    <a (click)="setPage(1)">
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    </a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}" title="Previous Page">
    <a (click)="setPage(pager.currentPage - 1)">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
    <a (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" title="Next Page">
    <a (click)="setPage(pager.currentPage + 1)">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" title="Last Page">
    <a (click)="setPage(pager.totalPages)">
      <i class="fa fa-step-forward" aria-hidden="true"></i>
    </a>
  </li>
</ul>
<!-- end pager -->
