@import '../../../theme/styles/table';
.jeopardy-letter-list-container, #jeopardyPreviewModal {
  .action-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 14px;
  }
  fieldset {
    display: block;
    margin-inline-start: 10px;
    margin-inline-end: 10px; // padding-inline-before: 10px;
    padding-inline-start: 1.75em;
    padding-inline-end: 0.75em;
    -webkit-margin-start: 2px;
    padding-left: 1.75em;
    padding-right: 1.75em;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 1.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border: 1px solid #7C93A7; // #dad8d8;
    // padding-bottom: 10px;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
  .table-striped tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .table-content .outer-table:nth-of-type(odd) {
    background-color: #b7d7e8; //#cfe1f13d;
  }
  .table-content .outer-table:nth-of-type(even) {
    background-color: #ddeedd; //#FFFAF0 !important; // rgb(105, 29, 29)  #e2f0c7b1
  }
  td,
  th {
    border: 1px solid #f3f3f3;
    overflow: hidden;
    padding: 0.75rem;
    width: 168px;
  }
  .column-headers {
    background: darkslateblue; //#191970; // #32967e;//#fe9700;
    color: #fff;
    overflow: hidden;
  }
  .table-content {
    height: 400px;
    overflow: scroll;
  }
  .w-200 {
    width: 200px;
  }
  .page-wise-pagination-contianer {
    // text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .pagination-title {
    text-align: center;
    margin-bottom: 5px;
    color: #0065b1; // color:  #163A5E;
    font-weight: 600;
  }
  .page-limit-dropdown {
    padding: 6px;
    border-radius: 5px;
  }
  .max-70{
    max-width: 70%;
  }
  .f-16{
    font-size:16px;
  }
}

.limit-pagination-contiane span{
  width: 250x;
}