<div class="container-fluid">

    <div class="card-block">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img class="rounded mx-auto d-block img-fluid" src="../assets/img/app/Alameda-County-seal-opacity20.gif" routerLink="/" 
            style="width:auto">

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">

        <strong style="font-size:18px;color:rgb(8, 8, 8);"> Site Best Viewed: </strong>
        <b style="font-size:16px;color:rgb(8, 8, 8);">

<p> For convenience and for security, this site is best viewed using the latest versions of Chrome at a screen resolution of 1280 x 1024 or higher.  </p>
            <!-- <p> For convenience and for security, this site is best viewed using latest versions of modern web browsers such
                as Google Chrome,Edge at a screen resolution of 1280 x 1024. We strongly recommend
                that users update to the latest versions.</p>
            <p> Please Note: Alameda County does not endorse any specific web browser.</p> -->
        </b>
    </div>




</div>