<div class="about-version-details-wrapper">
  <div class="about-container">
    <div class="about-logo">
      <img src="../assets/img/about.png">
    </div>
    <div class="version-details">
      <div class="version">
        <span class="version-label">Application Version:</span>
        <span class="version-value">{{versionDetails.version}}</span>
      </div>
      <div class="version">
        <span class="version-label">Build Date:</span>
        <span class="version-value">{{versionDetails.buildDate}}</span>
      </div>
      <div class="version">
        <span class="version-label">Environment:</span>
        <span class="version-value">{{versionDetails.environment}}</span>
      </div>
    </div>

  </div>
</div>